<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemChat</title>
</head>
<body>
    <h1>{{opp.nickname}}</h1>
    <p><img src="{{ opp.avatar.url }}" height="200"></p>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ user_name|json_script:"user-name" }}
    <script src="{% static 'scripts/priv.js' %}"></script>
    <p>
        <button onclick="window.location = '/'">На главную</button>
        <button onclick="window.location = '/private/'">Назад</button>
    </p>

</body>
</html>